img{
    max-width: 100%;
    height: auto;
}
.line{
    border-top: 2px solid #1890FF80;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bigImage{
    margin-bottom: 10px;
}
.right-side{
    padding-left: 30px;
}
.label{
    margin-top: 30px;
}
.price{
    margin-bottom: 50px;
}
.color-block{
    width: 30px;
    height: 20px; 
    border: 1px solid rgb(71, 71, 71);
    margin-right: 5px;
    border-radius: 5px;
}
.pointure-block{
    width: 30px;
    height: 30px; 
    border: 1px solid rgb(71, 71, 71); 
    margin-right: 5px;
    border-radius: 5px;
}