img{
    max-width: 100%;
    height: auto;
}
.line{
    border-top: 2px solid #1890FF80;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bigImage{
    margin-bottom: 10px;
}
.right-side{
    padding-left: 30px;
}
.label{
    margin-top: 30px;
}
.price{
    margin-bottom: 50px;
}

.couleur{
    margin-bottom: 30px;
}
.pointure{
    margin-bottom: 30px;
}