<div nz-row nzJustify="start">
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="20">
        <div nz-row nzJustify="start">
            <div nz-col nzSpan="10">
                <img src="../../../assets/images/hommecla.jpg" alt="" srcset="">
                <div nz-row nzJustify="space-between">
                    <div nz-col nzSpan="4">
                        <img src="../../../assets/images/hommecla.jpg" alt="" srcset="">
                    </div>
                    <div nz-col nzSpan="4">
                        <img src="../../../assets/images/hommecla.jpg" alt="" srcset="">
                    </div>
                    <div nz-col nzSpan="4">
                        <img src="../../../assets/images/hommecla.jpg" alt="" srcset="">
                    </div>
                    <div nz-col nzSpan="4">
                        <img src="../../../assets/images/hommecla.jpg" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="14">
                <nz-breadcrumb nzSeparator=">">
                    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                      <a>Application List</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>An Application</nz-breadcrumb-item>
                </nz-breadcrumb>
                <!--label-->
                <h1>Cody – Baskets en Noir</h1>
                <!--price-->
                <h3>299,00 DH</h3>

                <p>⇁ L'échange est gratuit seulement en magasin.</p>
                <!--colors-->
                <h4>Colors : </h4>
                <div nz-row nzJustify="start">
                    <div nz-col nzSpan="2">
                        <div style="background-color: #cfc ; width: 30px;height: 30px; border: 1px solid rgb(0, 0, 0);"></div>
                    </div>
                    <div nz-col nzSpan="2">
                        <div style="background-color: rgb(207, 23, 23) ; width: 30px;height: 30px; border: 1px solid rgb(0, 0, 0);"></div>
                    </div>
                    <div nz-col nzSpan="2">
                        <div style="background-color: rgb(18, 50, 214) ; width: 30px;height: 30px; border: 1px solid rgb(0, 0, 0);"></div>
                    </div>
                </div>
                <!--tailles-->
                <h4>pointure : </h4>
                <div nz-row nzJustify="start">
                        <div style=" width: 30px;height: 30px; border: 1px solid rgb(0, 0, 0); margin-right: 5px;">43</div>
                        <div style=" width: 30px;height: 30px; border: 1px solid rgb(0, 0, 0); margin-right: 5px;">42</div>
                        <div style=" width: 30px;height: 30px; border: 1px solid rgb(0, 0, 0); margin-right: 5px;">41</div>
                </div>
                <div nz-row nzJustify="start">
                    <nz-input-number [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                    <button nz-button nzType="primary">
                        <i nz-icon nzType="shopping" nzTheme="fill"></i>
                        Search
                    </button>
                    
                </div>
                
            </div>
        </div>
        <div class="line"></div>
        <div>
            <nz-tabset nzCentered>
                <nz-tab nzTitle="DESCRIPTION">
                    <p>Achetez en ligne des bottes femme en ligne Maroc confortables et parfaites pour les deux saisons hiver et printemps, optez pour ce modèle à la fois chic et tendance. Disponibles pour la vente en détails et en gros sur machaussure.ma.</p>
                </nz-tab>
                <nz-tab nzTitle="INFORMATIONS COMPLÉMENTAIRES">
                    <div nz-row nzJustify="center">
                        <div nz-col nzSpan="4">Couleur</div>
                        <div nz-col nzSpan="4"></div>
                        <div nz-col nzSpan="4" style="text-align: right;">red</div>
                    </div>
                    <div nz-row nzJustify="center">
                        <div nz-col nzSpan="12">
                            <div class="line"></div>
                        </div>
                    </div>
                    
                    <div nz-row nzJustify="center">
                        
                        <div nz-col nzSpan="4">Tailles</div>
                        <div nz-col nzSpan="4"></div>
                        <div nz-col nzSpan="4" style="text-align: right;">38,39,42,43</div>
                    </div>
                </nz-tab>
            </nz-tabset>
        </div>
        <div class="line"></div>
        <div>
            <h2>Vous pouvez aimer ...</h2>
            <div nz-row nzJustify="space-between">
                <!--cards-->
                <div nz-col nzSpan="5"  >
                    <nz-ribbon nzText="New" >
                        <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate3" >
                            <nz-card-meta
                              nzTitle="some title"
                            ></nz-card-meta>
                            <h4 class="PPrice">860 MAD</h4>
                            <h4 class="OldPrice">860 MAD</h4>
                        </nz-card>
                    </nz-ribbon>
    
                    <ng-template #coverTemplate>
                        <img alt="example" src="../../../assets/images/Cprod1.jpg" />
                    </ng-template>
                </div>
                <div nz-col nzSpan="5"  >
                    <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate4" >
                        <nz-card-meta
                          nzTitle="some title"
                        ></nz-card-meta>
                        <h4 class="PPrice">860 MAD</h4>
                        <h4 class="OldPrice">860 MAD</h4>
                        
                    </nz-card>
                    <ng-template #coverTemplate2>
                        <img alt="example" src="../../../assets/images/Cprod2.jfif" />
                    </ng-template>
                </div>
                <div nz-col nzSpan="5"  >
                    <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate3" >
                        <nz-card-meta
                          nzTitle="some title"
                        ></nz-card-meta>
                        <h4 class="PPrice">860 MAD</h4>
                        
                    </nz-card>
                    <ng-template #coverTemplate3>
                        <img alt="example" src="../../../assets/images/Cprod3.jpg" />
                    </ng-template>
                </div>
                <div nz-col nzSpan="5"  >
                    <nz-ribbon nzText="-50%" nzColor="#f0e922">
                        <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate4" >
                            <nz-card-meta
                              nzTitle="some title"
                            ></nz-card-meta>
                            <h4 class="PPrice">860 MAD</h4>
                            
                        </nz-card>
                    </nz-ribbon>
    
                    <ng-template #coverTemplate4>
                        <img alt="example" src="../../../assets/images/Cprod4.jpg" />
                    </ng-template>
                </div>
                <!--end cards-->
            </div>
        </div>
        

    </div>
    <div nz-col nzSpan="2"></div>
</div>