<div nz-row nzJustify="center">
    <!--nav back-->
    <div nz-col nzSpan="24" class="navback">
        <div nz-row nzJustify="center" class="navbeck-elements">
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="1" class="white_arrow">
                <i nz-icon nzType="left" nzTheme="outline" class="icon" (click)="goBack()"></i>
            </div>
            <div nz-col nzSpan="8">
                <h1 class="title">{{category.label}}</h1>
            </div>
          </div>
    </div>
    <!-- end nav back-->
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="22">
        
        <div nz-row nzJustify="start" class="select-section">
            <div nz-col nzSpan="10">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Trouver un produit"  name="search" [(ngModel)]="search" (input)="Search()"/>
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
            </div>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="10">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="CATEGORIES"  [(ngModel)]="selectedValue" (ngModelChange)="selectCategory(selectedValue)">
                    <nz-option *ngFor="let caty of allCategories" nzLabel="{{caty.label}}" [nzValue]="caty.id"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="line"></div>
        <div nz-row nzJustify="space-around">
            <!--cards-->
            <div *ngFor="let prod of products | slice:0:5" nz-col nzSpan="5"  >
                <nz-ribbon nzText="New" >
                    <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate" (mouseover)="show = true" (mouseout)="show = false" routerLink='/product/{{prod.id}}'>
                        <nz-card-meta
                          nzTitle="{{prod.label}}"
                        ></nz-card-meta>
                        <div nz-row nzJustify="start" *ngIf='show'>
                            <div nz-col nzSpan="4" class="squir-size">36</div>
                            <div nz-col nzSpan="4" class="squir-size">38</div>
                            <div nz-col nzSpan="4" class="squir-size">40</div>
                            <div nz-col nzSpan="4" class="squir-size">41</div>
                            <div nz-col nzSpan="4" class="squir-size">42</div>
                        </div>
                        <h4 class="PPrice">{{prod.price}}</h4>
                        <h4 class="OldPrice"></h4>
                    </nz-card>
                </nz-ribbon>

                <ng-template #coverTemplate>
                    <img alt="example" [src]="createImgPath(prod.imageURL)" />
                </ng-template>
            </div>
            <!--end cards-->
        </div>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="500"></nz-pagination>
    </div>
    <div nz-col nzSpan="1"></div>
</div>