<div nz-row nzJustify="center">
    <!--nav back-->
    <div nz-col nzSpan="24" class="navback">
        <div nz-row nzJustify="center" class="navbeck-elements">
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="1" class="white_arrow">
                <i nz-icon nzType="left" nzTheme="outline" class="icon" (click)="goBack()"></i>
            </div>
            <div nz-col nzSpan="8">
                <h1 class="title">Baskets Femmes</h1>
            </div>
          </div>
    </div>
    <!-- end nav back-->
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="22">
        <div nz-row nzJustify="start" class="head">

            <div nz-col nzSpan="19"></div>

            <div nz-col nzSpan="5">
                <nz-page-header class="site-page-header select-header" >
                    <nz-breadcrumb nz-page-header-breadcrumb>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Tri par défaut" (ngModel)="selectedValue">
                            <nz-option nzLabel="Tri par défaut" nzValue="jack"></nz-option>
                            <nz-option nzLabel="Tri par popularité" nzValue="jack"></nz-option>
                            <nz-option nzLabel="Tri du plus récent au plus ancien" nzValue="jack"></nz-option>
                            <nz-option nzLabel="Tri par tarif croissant" nzValue="lucy"></nz-option>
                            <nz-option nzLabel="Tri par tarif décroissant" nzValue="tom"></nz-option>
                        </nz-select>
                    </nz-breadcrumb>
                </nz-page-header>
            </div>
        </div>
        <div class="line"></div>
        <div nz-row nzJustify="start" class="select-section">
            <div nz-col nzSpan="9">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Filtrer par couleur" (ngModel)="selectedColorValue">
                    <nz-option nzLabel="Argenté" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Beige" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Blanc" nzValue="tom"></nz-option>
                    <nz-option nzLabel="Blanc cassé" nzValue="tom"></nz-option>
                    <nz-option nzLabel="Blanc1" nzValue="tom"></nz-option>
                    <nz-option nzLabel="Bleu" nzValue="tom"></nz-option>
                </nz-select>
            </div>
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="9">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="CATEGORIES" (ngModel)="selectedCategoriesValue">
                    <nz-option nzLabel="Baskets Femmes" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Chaussette femme" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Bottes et cuissardes" nzValue="tom"></nz-option>
                </nz-select>
            </div>
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="4">
                <button nz-button nzType="primary" class="select-btn">SELECT</button>
            </div>
        </div>
        <div class="line"></div>
        <div nz-row nzJustify="space-around">
            <!--cards-->
            <div *ngFor="let prod of products | slice:0:5" nz-col nzSpan="5"  >
                <nz-ribbon nzText="New" >
                    <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate" (mouseover)="show = true" (mouseout)="show = false" routerLink='/product/{{prod.id}}'>
                        <nz-card-meta
                          nzTitle="{{prod.label}}"
                        ></nz-card-meta>
                        <div nz-row nzJustify="start" *ngIf='show'>
                            <div nz-col nzSpan="4" class="squir-size">36</div>
                            <div nz-col nzSpan="4" class="squir-size">38</div>
                            <div nz-col nzSpan="4" class="squir-size">40</div>
                            <div nz-col nzSpan="4" class="squir-size">41</div>
                            <div nz-col nzSpan="4" class="squir-size">42</div>
                        </div>
                        <h4 class="PPrice">{{prod.price}}</h4>
                        <h4 class="OldPrice"></h4>
                    </nz-card>
                </nz-ribbon>

                <ng-template #coverTemplate>
                    <img alt="example" [src]="createImgPath(prod.imageURL)" />
                </ng-template>
            </div>
            <!--end cards-->
        </div>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="500"></nz-pagination>
    </div>
    <div nz-col nzSpan="1"></div>
</div>