<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        
        <a href="#!"><img src="../../../../assets/images/logo .png" alt="" srcset="" style="width: 30px;height: 30px;"></a>
      </div>
      <nav>
    <div class="nav-mobile">
      <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <ul class="nav-list">
      <li>
        <a href="#!">HOMME</a>
        <ul class="nav-dropdown">
          <li><a href="#!">Classic</a></li>
          <li><a href="#!">Mocassin</a></li>
          <li><a href="#!">Sandale</a></li>
        </ul>
      </li>
      <li>
        <a href="#!">FEMME</a>
        <ul class="nav-dropdown">
          <li><a href="#!">Chaussure</a></li>
          <li><a href="#!">Sandale</a></li>
        </ul>
      </li>
      <li>
        <a href="#!">ENFANT</a>
        <ul class="nav-dropdown">
          <li><a href="#!">Fille</a></li>
          <li><a href="#!">Garcon</a></li>
        </ul>
      </li>
      <li>
        <a href="#!">ACCESSOIRES</a>
      </li>
      <li><a href="#!">À PROPOS</a></li>
      <li><a href="#!">CONTACT</a></li>
    </ul>
  </nav>
      </div>
  </section>