<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="#!">🍀 MB-SHOP</a>
      </div>
      <nav>
    <div class="nav-mobile">
      <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <ul class="nav-list">
      <li>
        <a href="#!">Homme</a>
        <ul class="nav-dropdown">
          <li><a href="#!">Classic</a></li>
          <li><a href="#!">Mocassin</a></li>
          <li><a href="#!">Sandale</a></li>
        </ul>
      </li>
      <li>
        <a href="#!">Femme</a>
        <ul class="nav-dropdown">
          <li><a href="#!">Chaussure</a></li>
          <li><a href="#!">Sandale</a></li>
        </ul>
      </li>
      <li>
        <a href="#!">Enfants</a>
        <ul class="nav-dropdown">
          <li><a href="#!">Fille</a></li>
          <li><a href="#!">Garcon</a></li>
        </ul>
      </li>
      <li><a href="#!">About Us</a></li>
      <li><a href="#!">Contact</a></li>
    </ul>
  </nav>
      </div>
  </section>