@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



.container{
    height: 95vh;
    background-image: url("../../../../assets/images/wall.jpg");
    background-size:cover;
}



button{
    height: 70px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
    width: 100%;
    border-radius: 50px 50px 50px 50px;
    background-color: black;
}
.left-side{
    text-align: center;
    padding-right: 15px;
}
.son{
    height: 100%;
}
