@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


[nz-carousel-content] {
    height: 90vh;
    color: #fff;
    background-size: cover;
    overflow: hidden;
    filter: grayscale(50%);
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 350px 0px 0px 350px;
    
}

button{
    height: 70px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
    width: 100%;
    border-radius: 0px 50px 50px 0px;
}
.left-side{
    text-align: center;
    padding-right: 15px;
}
