<div nz-row nzJustify="center" class="hero-section">
    <div nz-col nzSpan="23">
        <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let index of array" >
                <div nz-row nzJustify="center" class="second-container">
                    <div nz-col nzSpan="10">
                        <h3>Title</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, dignissimos nobis nihil explicabo minima animi?</p>
                        <button>test</button>
                    </div>
                    <div nz-col nzSpan="14" class="right-side">
                    </div>
                </div>
            </div>
        </nz-carousel>
    </div>
</div>
