.hero-section{
    height: 90%;
}

[nz-carousel-content] {
    text-align: center;
    background: #ffffff;
    color: #000;
    overflow: hidden;
}
.second-container{
    height: 100%;
}
.right-side{
    background-image: url(../../../../assets/images/shoes.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}
