<section class="contact-section">
  <div nz-row nzJustify="center" >
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="8" class="lift-side">
        <h2 class="title">contacter</h2>
        <!-- Form -->
        <form nz-form [formGroup]="validateForm" class="contact-form" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" id="userName" placeholder="Nom d'utilisateur" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                  <input nz-input formControlName="email" placeholder="email" id="email" type="email" />
                  <ng-template #emailErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
                      <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
                  </ng-template>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzHasFeedback [nzSpan]="24" nzErrorTip="Please input your mobil number!">
                <input nz-input formControlName="mobile" id="mobile" placeholder="mobile" />
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzHasFeedback [nzSpan]="24" nzErrorTip="Please write something here!">
                <textarea formControlName="comment" id="comment" nz-input rows="2" placeholder="écrire n'importe quoi"></textarea>
              </nz-form-control>
          </nz-form-item>
          <button nz-button [nzType]="'primary'">ENVOYER</button>
      </form>
      <!-- End Form -->
    </div>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="12" class="right-side"></div>
  </div>
</section>
