<div nz-row nzJustify="center">
    <div nz-col nzXs="23" nzSm="23" nzMd="20" nzLg="14" class="all">
        <h1 nz-typography class="title"> POLITIQUE DE RETOURS ET D'ECHANGES</h1> 
        <p nz-typography>Si vous souhaitez retourner ou échanger votre commande pour quelque raison que ce soit un article commandé ne vous convient pas ? La pointure ou la couleur ne correspond pas à vos choix ?, nous sommes là pour vous aider ! Nous offrons des retours ou des échanges gratuits dans les 14 jours qui suivent votre achat. 
            Vous pouvez retourner votre produit en échange d’un avoir, 
            d’un produit de remplacement ou d’un remboursement à partir du moyen de paiement utilisé lors de votre achat.</p>
        <h3 nz-typography>RETOUR</h3>
        <p nz-typography>Nous acceptons les retours d’articles neufs et non ouverts. Vous pouvez retourner les articles
            non ouverts dans leur emballage d’origine dans les 14 jours suivant votre achat, avec un reçu ou
            une preuve d’achat. Si 14 jours se sont écoulés depuis votre achat, nous ne pouvons pas vous
            offrir de remboursement ou d’échange.
            Seuls les articles à prix courant peuvent être remboursés. Les articles en solde ne sont pas
            remboursables.
            Pour suivre le statut de votre retour, veuillez communiquer avec nous au numéro de téléphone ou
            à l’adresse courriel ci-après.</p>
        <h3 nz-typography>Conditions d’échange</h3>
        <p nz-typography>Certaines conditions s’appliquent cependant à notre politique de retours et d’échanges, les voici :
            Les articles soldés ne sont ni repris, ni échangés,
            Les articles doivent être retournés avec leur étiquette et dans leur emballage d’origine,
            Les articles retournés ne doivent présenter aucun signe d’usure.</p>
        <h3 nz-typography>Procédure d’échange</h3>
        <p nz-typography>Lorsque nous recevrons votre article, nous l’examinerons et nous vous aviserons par courriel,
            dans un délai raisonnable, si vous avez droit à un remboursement ou à un échange.
            Si vous avez droit à un remboursement, nous vous rembourserons le prix d’achat et un crédit
            sera appliqué au mode de paiement initial. Les frais d’expédition et de manutention que vous
            avez déjà payés ne sont pas remboursables et les montants remboursés n’incluront pas le coût
            de l’expédition. Une période maximale de 15 jours ouvrables après la réception de notre courriel
            peut s’écouler avant que vous ne voyiez le remboursement sur votre relevé.
            Si vous avez droit à un échange, nous vous enverrons un nouvel article à l’adresse d’expédition
            initiale.</p>
        <h3 nz-typography>coordonnées</h3>
        <p nz-typography>[MB shoes]
            [0614885519]
            [email address ]
            [address for returns,]</p>
    </div>
</div>
