<section class="about-section" id="PROPOS">
    <div nz-row nzJustify="center">
        <div nz-col  [nzSm]="{ span: 10}"  [nzXs]="{ span: 0}" class="left-side">
            
        </div>
        <div nz-col  [nzSm]="{ span: 1}" [nzXs]="{ span: 1}"></div>
        <div nz-col  [nzSm]="{ span: 12}" [nzXs]="{ span: 20}"class="right-side">
            <h1 class="title">à propos de nous</h1>
            <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia possimus assumenda a molestiae ducimus excepturi ad voluptate vero quae corrupti blanditiis facere earum repudiandae unde, voluptatibus, sint illo dolorum. Eos, mollitia officia expedita ipsum in inventore! Perferendis quam rem ad.</p>
            <button nz-button nzType="primary" class="btn">Encore plus</button>
        </div>
        <div nz-col [nzSm]="{ span: 1}" [nzXs]="{ span: 1}"></div>
    </div>
</section>
