<div nz-row nzJustify="center" class="about-section">
    <div nz-col nzSpan="10" class="left-side">
        
    </div>
    <div nz-col nzSpan="14">
        <h2>about us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia possimus assumenda a molestiae ducimus excepturi ad voluptate vero quae corrupti blanditiis facere earum repudiandae unde, voluptatibus, sint illo dolorum. Eos, mollitia officia expedita ipsum in inventore! Perferendis quam rem ad.</p>
        <button nz-button nzType="primary">Primary Button</button>
    </div>
</div>