<section class="about-section" id="PROPOS">
    <div nz-row nzJustify="center">
        <div nz-col nzSpan="10" class="left-side">
            
        </div>
        <div nz-col nzSpan="1"></div>
        <div nz-col nzSpan="12" class="right-side">
            <h1 class="title">à propos de nous</h1>
            <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia possimus assumenda a molestiae ducimus excepturi ad voluptate vero quae corrupti blanditiis facere earum repudiandae unde, voluptatibus, sint illo dolorum. Eos, mollitia officia expedita ipsum in inventore! Perferendis quam rem ad.</p>
            <button nz-button nzType="primary" class="btn">Encore plus</button>
        </div>
        <div nz-col nzSpan="1"></div>
    </div>
</section>
