.navback{
    height: 100px;
    background-color: black;
    text-align: center;
}
.title{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    padding-top: 25px;
}
.vcommande{
    text-align: center;
    background-color: #00000046;
    border-radius: 25px;
    margin-bottom: 25px;
}
.all{
    margin-top: 20px;
}
.prodImage{
    
    max-width: 100%;
    height: 200px;
    
}
.commandeD{
    margin: 50px;
    background-color: #fff;
    padding-bottom: 10px;
}
.line{
    border-top: 2px solid #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.prodD{
    margin-left: 50px;
    margin-right: 50px;
}
#submit{
    background-color: #000000;
}
