.navback{
    height: 100px;
    background-color: black;
    text-align: center;
}
.title{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    padding-top: 25px;
}
.vcommande h1 {
    text-align: center;
}