
<div nz-row nzJustify="center">
    <div nz-col nzSpan="24" class="navback" >
        <h1 class="title">COMMANDE</h1>
    </div>

</div>
<div nz-row nzJustify="start" class="all">
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="10" class="facturation">
        <h1>DÉTAILS DE FACTURATION</h1>
        <form nz-form>

            <nz-form-label [nzSpan]="10" nzFor="name">Nom complet - الإسم الكامل </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <input nz-input name="name" type="text" id="name" nzSize="large">
              </nz-form-control>
            </nz-form-item >

            <nz-form-label [nzSpan]="10" nzFor="tele">Téléphone </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <input nz-input name="tele" type="number" id="tele" nzSize="large">
              </nz-form-control>
            </nz-form-item >

            <nz-form-label [nzSpan]="10" nzFor="adr">Adresse complète - العنوان الكامل </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <input nz-input name="adr" type="text" id="adr" nzSize="large" placeholder="Numéro de voie et nom de la rue">
              </nz-form-control>
            </nz-form-item >

            <nz-form-label [nzSpan]="10" nzFor="ville">la ville - المدينة</nz-form-label>
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <input nz-input name="ville" type="text" id="ville" nzSize="large">
              </nz-form-control>
            </nz-form-item >

            <nz-form-label [nzSpan]="10" nzFor="codep">Code postal (facultatif)</nz-form-label>
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <input nz-input name="codep" type="text" id="code" nzSize="large">
              </nz-form-control>
            </nz-form-item >

            <nz-form-label [nzSpan]="10" nzFor="email">Adresse Email (facultatif)</nz-form-label>
            <nz-form-item>
                <nz-form-control [nzSpan]="14" nzErrorTip="Ce champ ne doit pas etre vide">
                    <input nz-input name="email" type="email" id="email" nzSize="large">
                </nz-form-control>
            </nz-form-item >

            <nz-form-item>
                <nz-form-control [nzSpan]="14">
                  <button nz-button nzType="primary" id="commander" nzBlock nzSize="large">COMMANDER</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <div nz-col nzSpan="10" class="vcommande">
        <h1>VOTRE COMMANDE</h1>
        <div class="commandeD">
          <img [src]="createImgPath(prodImg)" alt="" srcset="" class="prodImage">
          <div class="line"></div>
          <div nz-row nzJustify="space-between" class="prodD">
            <div nz-col nzSpan="4">PRODUIT</div>
            <div nz-col nzSpan="10">{{prodName}}</div>
          </div>
          <div class="line"></div>
          <div nz-row nzJustify="space-between" class="prodD" >
            <div nz-col nzSpan="4">Prix</div>
            <div nz-col nzSpan="10">{{prodPrice}} MAD</div>
          </div>
          <div class="line"></div>
          <div nz-row nzJustify="space-between" class="prodD" >
            <div nz-col nzSpan="4">Quantité</div>
            <div nz-col nzSpan="10">{{prodQuantity}}</div>
          </div>
          <div class="line"></div>
          <div nz-row nzJustify="space-between" class="prodD">
            <div nz-col nzSpan="4">Pointure</div>
            <div nz-col nzSpan="10">{{prodPoint}}</div>
          </div>
          <div class="line"></div>
          <div nz-row nzJustify="space-between" class="prodD">
            <div nz-col nzSpan="4">Couleur</div>
            <div nz-col nzSpan="10">{{prodColor}}</div>
          </div>
          <div class="line"></div>
          <div nz-row nzJustify="space-between" class="prodD" >
            <div nz-col nzSpan="4">Total</div>
            <div nz-col nzSpan="10">{{total}} MAD</div>
          </div>
        </div>
        <h4>⇁ Paiement à la livraison.</h4>
        <h3>Vos données personnelles seront utilisées pour le traitement de votre commande, vous accompagner au cours de votre visite du site web, et pour d’autres raisons décrites dans notre politique de confidentialité.</h3>

    </div>
    <div nz-col nzSpan="2"></div>
</div>


