<section class="product-section">
    <div nz-row nzJustify="center" >
        <div nz-col nzSpan="22">
            <h1 class="title">Derniers produits</h1>

            <div class="products">
                <p class="art-title">HOMMES</p>
                <div class="line"></div>
                <div nz-row nzJustify="space-between">
                    <nz-skeleton [nzLoading]="loading" [nzActive]="true"></nz-skeleton>
                    <!-- card -->
                    <div nz-col [nzMd]="{ span: 4}" [nzSm]="{ span: 9}" *ngFor="let prod of prodH | slice:0:5">
                        <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate" routerLink='/product/{{prod.id}}'>
                            
                            <p nz-typography nzEllipsis class="PLabel" nzContent="{{prod.label}}"> </p>
                            <h4 class="PPrice">{{prod.price}} DH</h4>
                        </nz-card>
                        <ng-template #coverTemplate>
                            <img alt="example" [src]="createImgPath(prod.imageURL)" />
                        </ng-template>
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <!-- 
                test
            <div class="products">
                <p class="art-title">FEMMES</p>
                <div class="line"></div>
                <div nz-row nzJustify="space-between">

                    <div nz-col [nzMd]="{ span: 4}" [nzSm]="{ span: 9}" *ngFor="let prod of Fprod" >
                        <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate" >
                            <p nz-typography nzEllipsis class="PLabel" nzContent="{{prod.label}}"> </p>
                            <h4 class="PPrice">{{prod.PPrice}} MAD</h4>
                        </nz-card>
                        <ng-template #coverTemplate>
                            <img alt="example" src="{{prod.imgURL}}" />
                        </ng-template>
                    </div>
                    
                </div>
            </div>-->
            
            <div class="products">
                <p class="art-title">ENFANTS</p>
                <div class="line"></div>
                <div nz-row nzJustify="space-between">
                    <nz-skeleton [nzLoading]="loading" [nzActive]="true"></nz-skeleton>
                    <!-- card -->
                    <div nz-col [nzMd]="{ span: 4}" [nzSm]="{ span: 9}" *ngFor="let prod of prodE | slice:0:5">
                        <nz-card nzHoverable style="width:100%;" [nzCover]="coverTemplate" routerLink='/product/{{prod.id}}'>
                            <p nz-typography nzEllipsis class="PLabel" nzContent="{{prod.label}}"> </p>
                            <h4 class="PPrice">{{prod.price}} MAD</h4>
                        </nz-card>
                        <ng-template #coverTemplate>
                            <img alt="example" [src]="createImgPath(prod.imageURL)" />
                        </ng-template>
                    </div>
                    <!-- end card -->
                </div>
            </div>
            
        </div>
      </div>
</section>
